.curriculumListContainer {
    width: 100%;
    margin-bottom: 6rem;
}

.curriculumList {
    margin: auto;
    width: 90%;
    max-width: 1280px;
}

.innerWindow {
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem
}

.curriculumListTitle {
    font-size: 2rem;
    font-weight: 600;
}

.modulesListContainer {
    width: 100%;
    padding: 2rem 0;
}

.modulesList {
    list-style: none;
    padding: 0;
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.buttonStyle {
    position: relative;
    width: 47%;
}

.treeClass summary {
    font-size: 2rem;
}

.treeClass li {
    font-size: 1.5rem;
    list-style: square;
}

@media (max-width: 768px) {
    .buttonStyle {
        width: 100%;
    }
}