.carouselContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel {
    position: relative;
    width: 100%;
    overflow-x: clip;
    overflow-y: visible;
    line-height: 1.5rem;
}

.item {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    padding-bottom: 1rem;
}

.itemTitle {
    font-size: 1.5rem;
    font-weight: 600;
}