.borderContainer {
    width: 100%;
    position: relative;
}

.border {
    width: 100%;
    border-bottom: 2px solid grey;
}

.marker {
    width: 26px;
    height: 54px;
    background: linear-gradient(180deg, rgb(121, 107, 273) 10%, rgb(81, 67, 233) 50%, rgb(41, 27, 193) 100%);
    border-radius: 20px;
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
}

.arrowDownContainer {
    width: 15px;
    position: relative;
    left: 50%; /* position the left edge of the element at the middle of the parent */
    bottom: -50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}